.bm-salary, .bm-more, .bm-details{
    text-align: center;
    margin-top:5vmin;
}

.tabs .indicator{
    display:none !important;
}

.tabsBar {
    width: 90% !important;
}

.tab.col a {
    color:inherit;
}