.modalStyle {
    height: 100%;
    width: 80%;
}
.modal-footer{
    position: absolute;
    bottom:0;
}
.bm-map{
    height:35vmin;
    width: 100%;
}
.bm-companyName, .bm-jobTitle {
    position: relative;
    top:5%;
    font-size: 2rem;
}

.bm-companyName{
    display: inline-block;
    position: relative;
    left:50%;
    margin: 5% 0% 0%;
    transform: translateX(-50%);
}

.bm-companyName img {
    height:auto;
}

.bm-jobTitle{
    margin:0% 0% 5%;
    font-size: 1.25rem;
}

.modalBody{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    z-index:4;
}

.bm-jobDescription{
    overflow: scroll;
    width:100%;
    height: 37vmin;
}

.bm-tabs li{
  z-index: 2;
}

.modalStyle{
    max-height: 85%;
    top:0;
}

.sp-btn-style{
    position: relative;
    margin: 3% 0;
    left: 10% !important;
}


@media only screen and (min-width: 993px){
    .container {
        width: 85%; 
        } 
}
