.sidebar {
    margin-top: 50px;
}

.distance{
    height:100px;
}

.checkboxArea{
    font-size: 1em;
}
.sideTrigger {
	font-size: 1.2em;
	position: fixed;
	top: 1.9%;
	z-index: 999;
	left: 9%;
	cursor: pointer;
}
svg {
	top: .25vh;
}
.side-nav a:hover {
     background-color: transparent !important; 
}