*{
    font-family: courier !important;
    position: relative;
    margin: 0;
}    
.body-container  {
    height: 100vh;
    /*background-color: black;*/
    overflow: hidden;
    position: relative;
}
.input-container {
    position: relative;
    top: 20%;
}

.blue-txt {
 
    top: 0;
}
.left-numbers{
    position: absolute;
    top: -0%;
    
}
.lp-title{
    font-size: 3em;
}
/* label focus color */
/*.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
color: #0277bd !important;
}

/* label underline focus color */
/*.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #0277bd !important;
box-shadow: 0 1px 0 0 #0277bd !important;
}*/
.lp-theme-cont{
    position: absolute;
    left: 3%;
}
.lp-button-syntax{
    margin-left: 3%;
}