*{
    font-family: courier !important;
    position: relative;
    margin: 0;
}    
.body-container  {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.input-container {
    position: relative;
    top: 20%;
}
.orange-txt {
    color: #e65100;
}
.lp-form {
    /*left: 25%;*/
}
.blue-txt {
    color: #0277bd;
    top: 0;
}
.left-numbers{
    position: absolute;
    top: -0%;
    color: #4B4C4D;
}
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
color: #0277bd !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #0277bd !important;
box-shadow: 0 1px 0 0 #0277bd !important;
}