.top-nav {
	width: 100%;
	position: fixed;
    display: block;
	margin-bottom: 2%;
    z-index: 998;
    font-size: 2vmin;
    top: 0;
}
.tn-theme{
    position: relative;
    text-transform: none;
    margin-top: 6%;
    z-index: 999;
    background-color: inherit !important;
    color: inherit !important;
}
.inherit-class{
    background-color: inherit !important;
    color: inherit !important;
}
.nav-theme {
    margin-right: 5%;
}
.nav-bar-items{
    text-transform: none;
}
.tn-saved {
    cursor: pointer;
}
.tn-logo{
    padding: 0 5px;
}
.mui-drpdown{
    position: absolute;
}
.nb-drop-content {
    background-color: inherit;
    color: inherit ;
    margin-right: 5%;
    opacity: 0;
}
.tn-theme *, .tn-theme * :hover, .tn-theme * :active{
    background-color: inherit;
    color: inherit ;
    z-index: 998;
}

.hidden{
    opacity: 0;
    animation: hide .5s linear 1;
}
.shown{
    opacity: 1;
    animation: show .5s linear 1;
}
@keyframes show{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes hide{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
