* {
	margin: 0;
	box-sizing: border-box;

}
.main-cont {
	/*height: 100vh;*/
	width: 93vw;
    position: relative;
}
.cardArea{
    width:100%;
    height: 90%;
    
    display: block;
    position: relative;
    margin-left: 3.3%;
    }
.search-result{
    margin-left: 5%;
    /* border:2px dashed green; */
    height: 45%;
    width: 100%;
    display: block;
}
.leftColumn, .rightColumn {
    height:44%;
    width: 49%;
    display: inline-block;

}

.leftColumn{
    margin-right: 1%;
    margin-left: 0.5%; 
    vertical-align: top;
}
.sideTrigger{
    cursor: pointer;
}
.spacer-div{
    width: 100%;
    height: 10vh;
}