.sc-cardContainer {
    height:40vmin;
    border: 2px solid black;   
    position: relative; 
    animation: appear 1.3s linear 1;
}
.sc-cardContainer:hover{
    background-color: lightgray;
    /*animation: pop .3s linear 1;*/
    /*width: 101%;
    height: 40vh;
    margin: -.1% -.5% 2.2% -.3%;*/
}
.sc-jobDetailsList {
    list-style-type: none;
    font-size: 1.2rem;
    margin:0;
    margin-top: 0;
    position: relative;
}
.sc-jobDescription{   
    font-size: 1rem;
    overflow: hidden; 
    max-height: 13.5em; 
    text-align: justify;  
    margin-right: -1em;
    padding-right: 1em;
    height: 70%;
    width: 100%;
    margin: 7% 0 0 0;
    /*position: absolute;
    right: 0;
    bottom: 0;*/
}
.sc-jobDescription:before {
    position: absolute;
    right: 0;
    bottom: 0;
}
.sc-jobDescription:after {

  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.datePosted{
    font-size: .8rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1% 1% 0 0;
}

.sc-leftColumn{
    width:75%;
    height:100%;
    float: left;
    display: inline-block;
    overflow: hidden;
}

.sc-rightColumn{
    width:25%;
    height: 80%;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.appliedStatus{
    width: 50%;
    left: 25%;
    font-size: 1rem;
}
.buttonArea {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.btn-style{
    margin-top: 8%; 
    font-size: 1rem !important;       
    width: 70%;
    left: 15%;
    text-transform: none;
}

@keyframes appear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*@keyframes pop{
    0% {    width: 100%;
            height: 40vh;
            margin: .5rem 0 1rem 0;}
    100%{   width: 101%;
            height: 41vh;
            margin: .1rem 0 .7rem .1rem;}
}*/

h5, h4, h3, h2, h1 {
    font-size: 1rem;
}

.modalStyle {
    height: 100%;
    width: 80%;
}

.modal-footer{
    position: absolute;
    bottom:0;
}

